<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Navigation</title>
    </head>
    <body>
        <nav class="navbar navbar-dark navbar-expand-md bg-dark py-3" th:fragment="nav">
            <div class="container">
                <a class="navbar-brand d-flex align-items-center" href="#"
                    ><span class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon"
                        ><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="black" viewbox="0 0 16 16" class="bi bi-vector-pen">
                            <path
                                fill-rule="evenodd"
                                d="M10.646.646a.5.5 0 0 1 .708 0l4 4a.5.5 0 0 1 0 .708l-1.902 1.902-.829 3.313a1.5 1.5 0 0 1-1.024 1.073L1.254 14.746 4.358 4.4A1.5 1.5 0 0 1 5.43 3.377l3.313-.828L10.646.646zm-1.8 2.908-3.173.793a.5.5 0 0 0-.358.342l-2.57 8.565 8.567-2.57a.5.5 0 0 0 .34-.357l.794-3.174-3.6-3.6z"></path>
                            <path fill-rule="evenodd" d="M2.832 13.228 8 9a1 1 0 1 0-1-1l-4.228 5.168-.026.086.086-.026z"></path></svg></span
                    ><span>Forum</span></a
                ><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-5">
                    <span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navcol-5">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a th:class="${active == 'index' ? ' nav-link active' : 'nav-link'}" th:href="@{/index}">Home</a></li>
                    </ul>
                    <a class="btn btn-primary ms-md-2" role="button" th:href="@{/profile}"><i class="fa-regular fa-user"></i></a>
                </div>
            </div>
        </nav>
    </body>
</html>
